
<h1>Welcome</h1>
<h2>Here are the recommended trips for you</h2>

<%= render "layouts/trip_partial" %>

<% if @logged_user %>
<br />
<%= link_to 'New Trip', new_trip_path %>
<br />
<%= link_to 'My Trips', trips_path %>
<% end %>
