<!-- The first part of the profile view where we display the profile picture and the trips the person has -->
<div class="profile_container" id="profile">
  <div id="profile_image">
    <%= image_tag(@user.image_url, :size => "100x100") %>
  </div>
  <div id="profile_trips_map">
  </div>
</div>

<!-- Here we display basic information like name and things the person likes -->
<div class="profile_container" id="personal">
  <div id="personal_information">
    <h3><%= @user.name + " " + @user.lastname %></h3>
  </div>
  <div id="personal_interests">
  </div>
</div>

<!-- The timeline shows a history of the user's recent activity -->
<div class="profile_container" id="timeline">
</div>