<div id="invite_friends_container">
	<p>Invita amigos a este viaje</p>

	<div id = "name_invite">
			<%= text_field_tag 'invitation_name', nil, :placeholder => "Max Gonzalez", :class => "side_bar_text_field" %>
	</div>
	<div id="invites_selected" style= "display: none;">		
	</div>
	<ul id="invite_list">
		
	</ul>
		<div id = "email_invite">
			<p>Invita a personas por mail!</p>
			<%= text_field_tag 'invitation_mail', nil, :placeholder => "example@hello.com, sunday@server.com", :class => "side_bar_text_field" %>
		</div>
	</br>
	<div  style="text-align: center;">
	<%= submit_tag "Invitar", :class => "button btn btn-primary" %>
	</div>
</div>